@import 'tailwindcss';

@layer base {
  :root {
    /* Colors */
    --background: #ffffff;
    --foreground: #171717;

    /* Font Family */
    --font-poppins: 'Poppins', sans-serif;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-poppins), sans-serif;
  }
}

@theme inline {
  /* === DISPLAY TYPOGRAPHY === */
  --text-heading-xl: 2.75rem;
  --text-display-3xl: 3.75rem / 4.5rem 0;
  --text-display-2xl: 3rem / 3.75rem -0.02em;
  --text-display-xl: 2.5rem / 3.5rem -0.02em;
  --text-display-lg: 2.25rem / 3rem -0.02em;
  --text-display-md: 2rem / 2.875rem 0;
  --text-display-sm: 1.75rem / 2.375rem 0;
  --text-display-xs: 1.5rem / 2.25rem 0;

  /* === BODY TYPOGRAPHY === */
  --text-xl: 1.25rem / 2.125rem 0; /* font-size 20px / line-height 34px / letter-spacing 0 */
  --text-lg: 1.125rem / 2rem 0; /* font-size 18px / line-height 32px / letter-spacing 0 */
  --text-md: 1rem / 1.875rem 0; /* font-size 16px / line-height 30px / letter-spacing 0 */
  --text-sm: 0.875rem / 1.75rem 0; /* font-size 14px / line-height 28px / letter-spacing 0 */
  --text-xs: 0.75rem / 1.5rem 0; /* font-size 12px / line-height 24px / letter-spacing 0 */

  --color-neutral-25: #fdfdfd;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e9eaeb;
  --color-neutral-300: #d5d7da;
  --color-neutral-400: #a4a7ae;
  --color-neutral-500: #717680;
  --color-neutral-600: #535862;
  --color-neutral-700: #414651;
  --color-neutral-800: #252b37;
  --color-neutral-900: #181d27;
  --color-neutral-950: #0a0d12;

  --color-primary-100: #ead0cc;
  --color-primary-200: #b96155;
  --color-primary-300: #961200;
  --color-primary-400: #640c00;
}

/* We need to ada layer utilities when give multiple value clasess,
  @example 
  text-display-3xl {
    font-size: 3.75rem; 
    line-height: 4.5rem;
    letter-spacing: 0;
  }
*/
@layer utilities {
  /* === DISPLAY TYPOGRAPHY CLASSES === */
  .text-display-3xl {
    font-size: 3.75rem; /* 60px */
    line-height: 4.5rem; /* 72px */
    letter-spacing: 0; /* 0px */
  }

  .text-display-2xl {
    font-size: 3rem; /* 48px */
    line-height: 3.75rem; /* 60px */
    letter-spacing: -0.02em; /* -0.02em */
  }

  .text-display-xl {
    font-size: 2.5rem; /* 40px */
    line-height: 3.5rem; /* 56px */
    letter-spacing: -0.02em; /* -0.02em */
  }

  .text-display-lg {
    font-size: 2.25rem; /* 36px */
    line-height: 3rem; /* 48px */
    letter-spacing: -0.02em; /* -0.02em */
  }

  .text-display-md {
    font-size: 2rem; /* 32px */
    line-height: 2.875rem; /* 46px */
    letter-spacing: 0; /* 0px */
  }

  .text-display-sm {
    font-size: 1.75rem; /* 28px */
    line-height: 2.375rem; /* 38px */
    letter-spacing: 0; /* 0px */
  }

  .text-display-xs {
    font-size: 1.5rem; /* 24px */
    line-height: 2.25rem; /* 36px */
    letter-spacing: 0; /* 0px */
  }

  /* === BODY TYPOGRAPHY CLASSES === */
  .text-xl {
    font-size: 1.25rem; /* 20px */
    line-height: 2.125rem; /* 34px */
    letter-spacing: 0; /* 0px */
  }

  .text-lg {
    font-size: 1.125rem; /* 18px */
    line-height: 2rem; /* 32px */
    letter-spacing: 0; /* 0px */
  }

  .text-md {
    font-size: 1rem; /* 16px */
    line-height: 1.875rem; /* 30px */
    letter-spacing: 0; /* 0px */
  }

  .text-sm {
    font-size: 0.875rem; /* 14px */
    line-height: 1.75rem; /* 28px */
    letter-spacing: 0; /* 0px */
  }

  .text-xs {
    font-size: 0.75rem; /* 12px */
    line-height: 1.5rem; /* 24px */
    letter-spacing: 0; /* 0px */
  }
}
